/* General CSS */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #151515;
    color: #6e6e6e;
}

/* Preloader Start*/

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.loader img {
    width: 70px;
    height: 70px;
    animation-name: scale;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes scale {
    0% {
        -webkit-transform: scale(0.5);
    }

    50% {
        -webkit-transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(0.5);
    }
}

/* Back to top Start*/

#btn-back-to-top {
  display: none;
  position: fixed;
  z-index: 5000;
  width: 45px;
  height: 45px;
  bottom: 70px;
  right: 50px;
  background-color: #ff5733;
  color: #f8f9fa;
  border-color: #ff5733;
  border-radius: 50%;
  box-shadow: inset 0 0 0 10px #ff5733;
}

#btn-back-to-top:hover {
  background: #f8f9fa;
  color: #ff5733;
  border-color: #ff5733;
  box-shadow: inset 0 0 0 0px #ff5733;
}

/* Navbar */

.nav-toggler {
  position: fixed;
  z-index: 644451251;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  mix-blend-mode: exclusion;
  transition: all 0.4s;
}

.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.l1 {
  transform: translateY(-10px);
}

.l3 {
  transform: translateY(10px);
}

.nav-toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
  opacity: 0;
}

.nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

.logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5%;
  left: 3%;
  transform: translate(-50%, -50%);
  z-index: 458489484;
  transition: all 0.4s;
}

.logo img {
  transition: all 0.4s ease;
}

.logo img:hover {
  transform: scale(1.5);
  transition: transform 0.4s ease;
}

.nav-navigation {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.98);
  transform: translateY(-100%);
  z-index: 9999;
  transition: transform 0.3s ease-in;
}

.nav-navigation.active {
  transform: translate(0);
}
 
.nav-navigation a {
  font-family: 'Smooch Sans', sans-serif;
  color: #000;
  font-size: 26px;
  display: block;
  margin: 10px 0;
  text-decoration: none;
  transition: all 0.4s ease;
}

.nav-navigation a:hover {
  color: #ff5733;
}

.nav-navigation .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
} 

.nav-navigation .social-links a {
  padding: 0 30px;
}

/* Section Skill */

.skill {
  padding-top: 7vh;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
}

.skill .p-skill {
  font-size: 20px;
  font-family: 'Smooch Sans';
  padding-left: 20px;
}

.skill i.fab {
  width: 15px;
  padding: 8px;
}

.skill .cts {
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Fredoka", sans-serif;
  color: #ff5733;
}

.skill .cts::before {
  content: "My Skill";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 7vw;
  font-weight: 800;
  opacity: .05;
}

.skill .container .cts-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-family: "Smooch Sans", sans-serif;
}

.skill .container span {
  font-size: 28px;
  font-family: "Hurricane", cursive;
}

.skill .container .row {
  font-family: "Fredoka", sans-serif;
  margin: 0;
  padding: 0;
}

.skill .web {
  font-family: "Smooch Sans", sans-serif;
  font-size: 22px;
  padding: 0 0 10px 0;
  word-spacing: 8px;
  font-weight: 300;
}

.skill .img-skill {
  transition: all 0.7s;
}

.skill .img-skill:hover {
  transform: scale(1.05);
  transition: all 0.7s;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.30)!important;
}

.skill .design-web .design {
  font-family: "Hurricane", cursive;
  font-size: 22px;
  padding: 0 0 10px 0;
  word-spacing: 8px;
  letter-spacing: 2px;
}

.skill .design-web p {
  font-family: "Hurricane", cursive;
  font-size: 20px;
}

.skill .progress .progress-bar::after {
  position: absolute;
}

@media screen and (min-width: 1400px) {
  .skill .container {
    max-width: max-content;
  }

  .skill {
    padding-bottom: 10% !important;
  }
}

@media screen and (max-width: 991px) {
  .skill .design-web .design {
    text-align: center;
    font-size: 18px;
  }

  .skill p.web {
    font-size: 18px;
    text-align: center;
  }
} 

/*******************************/
/******* Experience CSS ********/
/*******************************/
.experience {
  position: relative;
  padding: 45px 0 15px 0;
  color: #000;
}

.experience .section-header .exp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Fredoka", sans-serif;
  font-size: 2vw;
  color: #ff5733;
}

.experience .section-header h1::before {
  content: "Mon Parcours";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 6vw;
  color: #000;
  font-weight: 800;
  opacity: .05;
  width: 100%;
}

.experience .section-header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vw 0 50px 0;
  font-family: "Smooch Sans", sans-serif;
  font-size: 2.5vw !important;
  color: #000;
}

.experience .timeline {
  position: relative;
  width: 100%;
}

.experience .timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #ff5733;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.experience .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
  left: 0;
  padding-right: 30px;
}

.experience .timeline .timeline-item.right {
  left: 50%;
  padding-left: 30px;
}

.experience .timeline .timeline-item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 48px;
  right: -8px;
  background: #ffffff;
  border: 2px solid #ff5733;
  border-radius: 16px;
  z-index: 1;
}

.experience .timeline .timeline-item.right::after {
  left: -8px;
}

.experience .timeline .timeline-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-date {
  position: absolute;
  width: 100%;
  top: 44px;
  font-size: 16px;
  font-weight: 600;
  color: #ff5733;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
  text-align: left;
  left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
  text-align: right;
  right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
  padding: 30px;
  background: #ffffff;
  position: relative;
  border-right: 5px solid #dddddd;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
}

.experience .timeline .timeline-item.right .timeline-text {
  border-right: none;
  border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-family: "Smooch Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.experience .timeline .timeline-text h4 {
  margin: 0 0 10px 0;
  font-family: "Smooch Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.experience .timeline .timeline-text p {
  margin: 0;
  font-family: "Smooch Sans", sans-serif;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .experience .timeline::after {
    left: 8px;
  }

  .experience .timeline .timeline-item {
    width: 100%;
    padding-left: 38px;
  }

  .experience .timeline .timeline-item.left {
    padding-right: 0;
  }

  .experience .timeline .timeline-item.right {
    left: 0%;
    padding-left: 38px;
  }

  .experience .timeline .timeline-item.left::after,
  .experience .timeline .timeline-item.right::after {
    left: 0;
  }

  .experience .timeline .timeline-item.left::before,
  .experience .timeline .timeline-item.right::before {
    left: 18px;
    border-color: transparent #dddddd transparent transparent;
  }

  .experience .timeline .timeline-item.left .timeline-date,
  .experience .timeline .timeline-item.right .timeline-date {
    position: relative;
    top: 0;
    right: auto;
    left: 0;
    text-align: left;
    margin-bottom: 10px;
  }

  .experience .timeline .timeline-item.left .timeline-text,
  .experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
  }
}

/** 
 * ===================================================================
 * 03. grid - (_grid.scss)
 *
 * ------------------------------------------------------------------- 
*/ 
.skill .row {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
}

.skill .row:before,
.skill .row:after {
	content: "";
	display: table;
}

.skill .row:after {
	clear: both;
}

.skill .row .row {
	width: auto;
	max-width: none;
	margin-left: 0px;
	margin-right: 0px;
}

.skill [class*="col-"],
.bgrid {
	float: none;
}

.skill [class*="col-"] + [class*="col-"].end {
	float: none;
}

.skill [class*="col-"] {
	padding: 0;
}

.skill .col-one {
	width: 0;
}

.skill .col-two,
.skill .col-1-6 {
	width: 0;
}

.col-three,
.col-1-4 {
	width: 25%;
}

.col-four,
.col-1-3 {
	width: 33.33333%;
}

.col-five {
	width: 41.66667%;
}

.col-six,
.col-1-2 {
	width: 50%;
}

.col-seven {
	width: 58.33333%;
}

.col-eight,
.col-2-3 {
	width: 66.66667%;
}

.col-nine,
.col-3-4 {
	width: 75%;
}

.col-ten,
.col-5-6 {
	width: 83.33333%;
}

.col-eleven {
	width: 91.66667%;
}

.col-twelve,
.col-full {
	width: 100%;
}

/**
 * small screens - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:1024px) {
	.row .row {
		margin-left: -18px;
		margin-right: -18px;
	}

	[class*="col-"] {
		padding: 0 18px;
	}

}

/**
 * tablets - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:768px) {
	.row {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}

	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: -15px;
		margin-right: -15px;
	}

	[class*="col-"] {
		padding: 0 15px;
	}

	.tab-1-4 {
		width: 25%;
	}

	.tab-1-3 {
		width: 33.33333%;
	}

	.tab-1-2 {
		width: 50%;
	}

	.tab-2-3 {
		width: 66.66667%;
	}

	.tab-3-4 {
		width: 75%;
	}

	.tab-full {
		width: 100%;
	}

}

/**
 * large mobile devices - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:600px) {
	.row {
		padding-left: 25px;
		padding-right: 25px;
	}

	.row .row {
		margin-left: -10px;
		margin-right: -10px;
	}

	[class*="col-"] {
		padding: 0 10px;
	}

	.mob-1-4 {
		width: 25%;
	}

	.mob-1-2 {
		width: 50%;
	}

	.mob-3-4 {
		width: 75%;
	}

	.mob-full {
		width: 100%;
	}

}

/**
 * small mobile devices - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:400px) {
	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	[class*="col-"] {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}

	[class*="col-"] + [class*="col-"].end {
		float: none;
	}

}

/* footer */

footer .social-links-footer a{
  padding: 20px;
  transition: all 0.4s ease;
}

@media screen and (max-width: 991px) {

    footer .social-links-footer a{
        padding: 15px;
    }  
}