/* General CSS */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
  color: #6e6e6e;
}

/* Preloader */

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.loader img {
  width: 70px;
  height: 70px;
  animation-name: scale;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0.5);
  }

  50% {
    -webkit-transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(0.5);
  }
}

/* Back to top start*/

#go-top {
  position: fixed;
  display: none;
  bottom: 50px;
  right: 50px;
  z-index: 5000;
}

#btn-back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #083731;
  border: 1px solid #083731;
  color: #f8f9fa;
  border-radius: 50%;
  box-shadow: inset 0 0 0 10px #083731;
  transition: all 0.2s ease;
}

#btn-back-to-top:hover {
  background: transparent;
  color: #083731;
  box-shadow: inset 0 0 0 0px #083731;
}

/*------ About ------ */

#about {
	background: #eeeeee;
	padding-top: 12rem;
	padding-bottom: 15rem;
  transition: background-color .7s ease-out;
}

body.dark #about {
  background-color: #21212175;
}

/* ABOUT SECTION START */

#about .section-intro {
	margin-bottom: 3rem;
}

.intro-info {
	margin-top: 4.2rem;
	margin-right: -30px;
	margin-left: -30px;
}
.section-intro .intro-info img {
	height: 12rem;
	width: 12rem;
	border-radius: 50%;
  margin-bottom: 2rem;
}
.intro-info .lead {
	text-align: center;
}

#about .lead2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 30px;
}

.about-content {
	position: relative;
	text-align: left;
	max-width: 850px;
	margin-bottom: 3.6rem;
}

#about .skill {
  display: flex;
  flex-direction: column;
}

#about .skill-bars .progress {
  background-color: #083731;
  border-radius: 0;
}
.about-content h3 {
	font-family: "poppins", sans-serif;
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
  font-weight: 700;
}
.about-content .info-list {
	list-style: none;
	margin-left: 0;
}
.about-content .info-list li {
	padding: 0 0 1.5rem 0;
	margin-bottom: .6rem;
}
.about-content .info-list li strong {
	font-family: "poppins", sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1.5rem;
	line-height: 3rem;
  font-weight: 700;
}

.about-content .info-list li:nth-child(4) span {
  display: inline;
  position: relative;
}

.about-content .info-list li:nth-child(4) span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #888888;
  left: 0;
  bottom: 0;
  transform-origin: right;
  transform: scale(0);
  transition: transform .5s ease-in-out;
}

.about-content .info-list li:nth-child(4) span:hover::before {
  transform: scale(1);
  transform-origin: left;
}

.about-content .info-list li span {
	display: block;
	font-family: "poppins", sans-serif;
	color: #888888;
	font-size: 1.5rem;
	line-height: 1;
}
.about-content .skill-bars {
	padding-top: 15rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.button-section {
	text-align: center;
}
.button-section .button {
	width: 250px;
}
.button-section [class*="col-"] .button:first-child {
	margin-right: 4rem;
}

/**
 * responsive:
 * about
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	.intro-info {
		margin-right: 0;
		margin-left: 0;
	}
}
@media only screen and (max-width:768px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #about .skill {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }

  .info-list {
    text-align: center;
  }

	.profile img {
		height: 7.8rem;
		width: 7.8rem;
	}
	.about-content h3 {
		text-align: center;
	}

  .about-content .skill-bars {
    padding-top: 0;
  }

	.about-content .info-list, .about-content .skill-bars {
		margin-bottom: 4.2rem;
	}
	.button-section .button {
		width: 100%;
		margin-bottom: 3rem;
	}
	.button-section [class*="col-"] .button:first-child {
		margin-right: 0;
	}
}
@media only screen and (max-width:600px) {
	.intro-info {
		text-align: center;
		margin-top: 3rem;
	}
	.profile img {
		height: 6.6rem;
		width: 6.6rem;
		float: none;
		display: inline-block;
	}
	.intro-info .lead {
		padding-left: 0;
		text-align: center;
	}
}

/* ABOUT SECTION END */

/* Dark mode start */

body.dark{
  color: rgb(250, 250, 250, 0.9)!important;
  background-color: #111111;
  transition: background-color 0.7s ease-out;
}