/*General CSS */

html, body, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Smooch Sans', sans-serif;
}

/* Section contenu */
.contenu{
    height: 100vh;
}

.contenu, .hero-txt, span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.social-links {
  margin: 80px auto;
}

.social-links a {
    line-height: 36px;
    margin: 0 15px;
    padding: 14px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 50px;
    transition: all 0.3s;
    text-align: center;
}

.social-links a:hover {
    color: #fff;
}

.social-links a i {
    width: 16px;
    text-align: center;
}

a.twitter-bg {
    color: #55acee;
    border-color: #55acee;
}

a.twitter-bg:hover {
    background-color: #55acee;
}

a.facebook-bg {
    color: #3b5998;
    border-color: #3b5998;
}

a.facebook-bg:hover {
    background-color: #3b5998;
}

a.pinterest {
    color: #dd4b39;
    border-color: #dd4b39;
}

a.pinterest:hover {
    background-color: #dd4b39;
}

a.linkedin-bg {
    color: #007bb5;
    border-color: #007bb5;
}

a.linkedin-bg:hover {
    background-color: #007bb5;
    border-color: #007bb5;
}

a.instagram-bg {
    color: #e1306c;
    border-color: #e1306c;
}

a.instagram-bg:hover {
    background-color: #e1306c;
}

a.github {
    color: #c9510c;
    border-color: #c9510c;
}

a.github:hover {
    background: #c9510c;
}

/* Preloader */

.loader {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  .fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
  
  .loader img {
    width: 50px;
    height: 50px;
    animation: rotation 2s infinite;
  }
  
  

  @keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }