*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#contact {
    background-color: #f8f9fa;
    padding-top: 9rem;
    padding-bottom: 7.2rem;
    transition: background-color 0.3s ease;
  }

  #contact .intro-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
  }

  #contact .intro-info span {
    overflow: hidden;
    display: inline-block;
  }

  #contact .intro-info span h5 {
    color: #083731;
    transform: translateY(100%);
    margin: 0;
  }

  #contact .intro-info span h1 {
    text-align: center;
    transform: translateY(100%);
    margin: 0;
  }

  #contact .intro-info span .lead {
    word-wrap: break-word;
    text-align: center;
    transform: translateY(100%);
    margin: 0;
  }

  #contact .intro-info span h5.active, #contact .intro-info span h1.active, #contact .intro-info span .lead.active {
    animation: animTextContact 1s ease-out forwards;
  }

  @keyframes animTextContact {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  body.dark #contact {
    background-color: #151515;
    color: #f8f9fa;
    transition: background-color .3s;
  }

  body.light #contact {
    transition: .3s;
  }
  
  body.light #contact input[type="text"], body.light #contact input[type="password"], body.light #contact input[type="email"], body.light #contact textarea {
    color: #000;
  }

  @media only screen and (max-width: 768px) {
    #portfolio .intro-info {
      max-width: 650px;
    }
    #portfolio .intro-info h1 {
      font-size: 3rem;
    }
  }
  @media only screen and (max-width: 600px) {
    #portfolio .intro-info h1 {
      font-size: 2.6rem;
    }
    #portfolio .intro-info h5 {
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
    }
  }
  @media only screen and (max-width: 400px) {
    #portfolio .intro-info h1 {
      font-size: 2.4rem;
    }
  }
  
  /* contact form */
  .contact-form {
    max-width: 740px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .contact-form.active {
    visibility: visible;
    opacity: 1;
  }
  
  #contact form {
    margin-top: 0;
    margin-bottom: 3rem;
  }
  #contact form .form-field {
    position: relative;
  }
  
  #contact form .form-field:last-child {
    padding-top: 4rem;
  }
  
  #contact form .form-field:before,
  #contact form .form-field:after {
    content: "";
    display: table;
  }
  #contact form .form-field:after {
    clear: both;
  }
  #contact form .form-field label {
    font-family: "Bree Serif", sans-serif;
    font-size: 1.1rem;
    line-height: 2.4rem;
    position: absolute;
    bottom: -1.2rem;
    right: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0 2rem;
    margin: 0;
    background: #083731;
    color: #fff;
    font-weight: 700;
  }
  #contact form .form-field label::after {
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -6px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #083731;
    content: "";
  }
  #contact input[type="text"],
  #contact input[type="password"],
  #contact input[type="email"],
  #contact textarea {
    width: 100%;
    margin-bottom: 0;
    border: none;
    color: #151515;
  }

  body.dark #contact input[type="text"],
  body.dark #contact input[type="password"],
  body.dark #contact input[type="email"],
  body.dark #contact textarea {
    color: #f8f9fa;
  }
  
  body.dark #contact input[type="text"],
  body.dark #contact input[type="email"],
  body.dark #contact textarea {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  #contact input[type="text"],
  #contact input[type="password"],
  #contact input[type="email"],
  #contact textarea {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  #contact input[type="text"],
  #contact input[type="password"],
  #contact input[type="email"] {
    height: 6.6rem;
    padding: 1.8rem 2rem;
  }
  #contact input[type="text"]:focus,
  #contact input[type="password"]:focus,
  #contact input[type="email"]:focus {
    border-color: #083731 !important;
    color: #151515;
  }

  body.dark #contact input[type="text"]:focus,
  body.dark #contact input[type="password"]:focus,
  body.dark #contact input[type="email"]:focus {
    color: #f8f9fa;
  }

  #contact textarea {
    min-height: 20rem;
    padding: 1.8rem 2rem;
  }
  #contact textarea:focus {
    border-color: #083731 !important;
    color: #151515;
  }
  
  #contact .contact-form .form-field textarea {
    resize: none;
  }
  
  #contact .contact-form .form-field .submitform:hover {
    background: #083731;
    color: #f8f9fa;
    transition: all 0.4s ease;
  }
  
  #contact button.submitform {
    font-size: 1.5rem;
    display: block;
    letter-spacing: 0.2rem;
    font-weight: 600;
    height: 6.6rem;
    line-height: 6.6rem;
    padding: 0 3rem;
    margin-top: 4.8rem;
    width: 100%;
    background: rgb(21, 21, 21, 0.9);
    color: #f8f9fa;
    border-radius: 30px;
    transition: 0.4s ease;
    font-family: "poppins", serif;
    border: none;
  }
  
  body.dark #contact button.submitform {
    background: #f8f9fa;
    color: #151515;
  }
  
  #contact button.submitform:hover,
  #contact button.submitform:focus {
    background: #083731;
  }
  #message-warning,
  #message-success {
    display: none;
    background: #0d0d0d;
    border-radius: 9999px;
    padding: 3rem;
    margin-bottom: 3.6rem;
    width: 100%;
    text-align: center;
  }
  
  body.light
  #message-warning,
  #message-success {
    background: #0d0d0d;
  }
  
  #message-warning {
    color: #fa0003;
    font-size: 18px;
  }
  #message-success {
    font-size: 18px;
    color: #098604;
  }
  #message-warning i,
  #message-success i {
    margin-right: 10px;
  }
  
  /* form loader */
  #submit-loader {
    display: none;
    position: relative;
    left: 0;
    top: 1.8rem;
    width: 100%;
    text-align: center;
  }
  #submit-loader .text-loader {
    display: none;
    font-family: "poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }
  .oldie #submit-loader .s-loader {
    display: none;
  }
  .oldie #submit-loader .text-loader {
    display: block;
  }
  .contact-info {
    margin: 4.8rem auto 0;
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    text-align: center;
  }
  .contact-info .collapse {
    padding: 0;
  }
  .contact-info .icon {
    margin-bottom: 2.1rem;
  }
  .contact-info .icon i {
    font-size: 4.2rem;
    color: #ffffff;
  }
  .contact-info h5 {
    color: #083731;
  }
  
  /**
   * loader animation - (_layout.scss)
   * --------------------------------------------------------------- 
   */
  .s-loader {
    margin: 1.2rem auto 3rem;
    width: 70px;
    text-align: center;
    -webkit-transform: translateX(0.45rem);
    -ms-transform: translateX(0.45rem);
    transform: translateX(0.45rem);
  }
  .s-loader > div {
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    margin-right: 0.9rem;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .s-loader .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .s-loader .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

/* Widget Dark mode start */

button.dark-mode:hover {
  transform: scale(1.1);
}

button.dark-mode i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #f8f9fa;
  text-align: center;
}

@media  screen and (min-width: 768px) {
  .dark-mode {
    position: fixed;
    bottom: 100px;
    left: 50px;
    border: none;
    border-radius: 50%;
    padding: 10px 14px;
    background-color: #083731;
    z-index: 3000;
    transform: scale(1);
    transition: transform .3s;
  }

  .dark-mode img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 3px 0;
  }

}

@media screen and (max-width:768px) {
  .dark-mode {
    position: fixed;
    bottom: 30px;
    right: 50px;
    border: none;
    border-radius: 50%;
    padding: 10px 14px;
    background-color: #083731;
    z-index: 3000;
    transform: scale(1);
    transition: transform .3s;
  }

  .dark-mode img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 3px 0;
  }
}