/* Navbar start */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  z-index: 2999;
  width: 100%;
}

.nav-toggler {
    position: fixed;
    z-index: 4446125151451;
    height: 50px;
    width: 50px;
    right: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    transition: all .4s;
  }
  
  .line {
    position: absolute;
    display: block;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: transform .3s ease-out;
    transform-style: preserve-3d;
    z-index: 4446125151451;
  }

  body.dark .line {
    background-color: #f8f9fa;
  }
  
  .l1 {
    transform: translateY(-5px);
  }
  
  .nav-toggler:hover .l1 {
    animation: menuiconone .5s ease-out infinite;
  }
  
  .l2 {
    transform: translateY(5px);
    width: 60%;
    right: 0;
  }
  
  .nav-toggler:hover .l2 {
    animation: menuiconone .5s ease-out .25s infinite;
  }
  
  @keyframes menuiconone {
    0% {
      right: 0;
      width: 100%;
    }
    50% {
      width: 0%;
      opacity: 0;
    }
    100% {
      right: 0;
      width: 100%;
    }
  }
  
  .nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
    animation: none;
  }
  
  .nav-toggler.active .l2 {
    transform: translateY(0px) rotate(-135deg);
    width: 100%;
    animation: none;
  }
  
  
  .logo img{
    border-radius: 6px;
    width: 70px;
    height: 70px;
    transition: all 0.4s;
  }
  
  .nav-navigation {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.98);
    transform: translateY(-100%);
    z-index: 2999;
    transition: transform 0.3s ease-in, background-color 0.3s ease;
  }
  
  body.dark .nav-navigation {
    background-color: rgba(21, 21, 21, 0.98);
  }
  
  .nav-navigation.active {
    transform: translate(0);
  }
  
  .nav-navigation .nav-links .nav-link {
    font-weight: bold;
    font-family: 'poppins', serif;
    color: transparent;
    font-size: clamp(40px, 5vw, 94px);
    display: block;
    text-decoration: none;
    line-height: 1.5em;
    -webkit-text-stroke: 0.2vw #083731;
    transition: color .5s ease;
    position: relative;
  }

  .nav-navigation .nav-links .nav-link::before {
    content: attr(data-text);
    position: absolute;
    color: #083731;
    width: 0%;
    overflow: hidden;
    transition: 1s cubic-bezier(.21,1.1,.84,-0.42);
    display: flex;
  }

  body.dark .nav-navigation .nav-links .nav-link::before {
    content: attr(data-text);
    position: absolute;
    color: rgb(255, 255, 255, 0.98);
    width: 0%;
    overflow: hidden;
    transition: 1s cubic-bezier(.21,1.1,.84,-0.42);
    display: flex;
  }

  .nav-navigation .nav-links .nav-link:hover::before {
    width: 100%;
  }

  body.dark .nav-navigation .nav-links .nav-link {
    -webkit-text-stroke: 0.2vw rgb(255, 255, 255, 0.98);
    transition: color .5s ease;
  }

  body.dark .nav-navigation .nav-links .nav-link::before {
    content: attr(data-text);
    position: absolute;
    color: rgb(255, 255, 255, 0.98);
    width: 0%;
    overflow: hidden;
    transition: 1s cubic-bezier(.21,1.1,.84,-0.42);
    display: flex;
  }

  body.dark .nav-navigation .nav-links .nav-link:hover::before {
    width: 100%;
  }

  .nav-navigation .nav-links {
    display: flex;
    flex-direction: column;
  }
  
  body.dark .nav-navigation a {
    color: #f8f9fa;
  }
  
  
  
  .nav-navigation .social-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .nav-navigation .social-links a {
    padding: 0 30px;
  }

  .nav-navigation .social-links a:hover i {
    color: #083731;
  }
  
  .nav-navigation .social-links i {
    font-size: 16px;
    color: rgba(21, 21, 21, 0.98);
    transition: color .3s ease;
  }

  body.dark .nav-navigation .social-links i {
    font-size: 16px;
    color: rgb(255, 255, 255, 0.98);
    transition: color .3s ease;
  }

  body.dark .nav-navigation .social-links a:hover i {
    color: #083731;
  }
  
  @media screen and (min-width: 991px){
    .logo img {
      transition: all 0.4s ease;
    }
    
    .logo img:hover {
      transform: scale(1.5);
      transition: transform 0.4s ease;
    }
  }
  
  @media screen and (max-width: 768px) {


    .nav-navigation .social-links {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }